@{
    ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col-md-4">
    <h2>Repro Issue</h2>
    <p>
      <a id="post" class="btn btn-default">Post random Person</a>
    </p>
    <p>
      <a id="get" class="btn btn-default">Get People</a>
    </p>
    <p>
      <a id="get-expanded" class="btn btn-default">Get People Expanded</a>
    </p>
  </div>
  <div class="col-md-8">
    <h2 id="response-header">RESPONSE</h2>
    <pre id="results"></pre>
  </div>
</div>

@section scripts
{
  <script>
    $(() => {
      var baseUrl = "@($"{Request.Url.Scheme}://{Request.Url.Authority}{Url.Content("~")}")";

      var getRandomInt = function (min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
      }

      var showResults = function (promise) {
        return promise
            .fail((error) => {
              $("#response-header").css({ "color": "red" });
              $("#results").text(JSON.stringify(error, null, 4));
            })
            .done((response) => {
              $("#response-header").css({ "color": "black" });
              $("#results").text(JSON.stringify(response, null, 4));
            });
      };

      $("#get")
          .click(() => {
            showResults($.ajax({
              url: baseUrl + "api/Persons",
              dataType: 'json'
            }));
          });

      $("#get-expanded")
          .click(() => {
            showResults($.ajax({
              url: baseUrl + "api/Persons?$expand=Attributes,Widgets($expand=Attributes)",
              dataType: 'json'
            }));
          });

      $("#post")
          .click(() => {
            $.ajax({
              url: 'https://randomuser.me/api/',
              dataType: 'json'
            })
                .done((userResponse) => {
                  var randomUser = userResponse.results[0];
                  
                  var user = {
                    Name: randomUser.name.first + " " + randomUser.name.last,
                    DateOfBirth: new Date(randomUser.dob),
                    Attributes: [
                        {
                          Name: "Phone",
                          Value: randomUser.phone
                        }
                    ],
                    Widgets: [
                        {
                          Name: "w1",
                          Value: 1,
                          Attributes: [
                              {
                                Name: "CustomProp",
                                Value: "wee"
                              }
                          ]
                        },
                        {
                          Name: "w2",
                          Value: 2,
                          Attributes: [{
                            Name: "CustomProp",
                            Value: "hoo"
                          }]
                        },
                        {
                          Name: "w3",
                          Value: 3,
                          Attributes: [{
                            Name: "CustomProp",
                            Value: "bob"
                          }]
                        }
                    ]
                  };

                  switch (getRandomInt(1, 3)) {
                    case 1:
                      user.Type = "Person";
                      break;
                    case 2:
                      user.Type = "Sub1Person";
                      user.Foo = "bar" + getRandomInt(1, 100);
                      break;
                    case 3:
                      user.Type = "Sub2Person";
                      user.Bar = "foo" + getRandomInt(1, 100);
                      break;
                  }

                  return showResults($.ajax(
                  {
                    type: "POST",
                    processData: false,
                    url: baseUrl + "api/Persons",
                    data: JSON.stringify(user),
                    contentType: 'application/json'
                  }));
                });
          });
    });
  </script>
}