@{
  ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col-md-4">
    <h2>Repro Issue</h2>
    <p>
      <a id="post" class="btn btn-default">Post random Person</a>
    </p>
    <p>
      <a id="get" class="btn btn-default">Get People</a>
    </p>
    <p>
      <a class="btn btn-default">Get People Expanded</a>
    </p>
  </div>
</div>

@section scripts
{
  <script>
    $(() => {
      var baseUrl = "@($"{Request.Url.Scheme}://{Request.Url.Authority}{Url.Content("~")}")";
      $("#get")
		    .click(() => {
		      $.ajax({
		        url: baseUrl + "api/Persons",
		        dataType: 'json'
		      })
				    .done((response) => {
				      console.log(response.results);
				    });
		    });

      $("#post")
        .click(() => {
          $.ajax({
            url: 'https://randomuser.me/api/',
            dataType: 'json'
          })
            .done((userResponse) => {
              var randomUser = userResponse.results[0];
              var user = {
                Name: randomUser.name.first + " " + randomUser.name.last,
                DateOfBirth: new Date(randomUser.dob),
                Phone: randomUser.phone
              };

              return $.ajax(
            {
              type: "POST",
              processData: false,
              url: baseUrl + "api/Persons",
              data: JSON.stringify(user),
              contentType: 'application/json'
            })
                .done((response) => {
                  console.log(response);
                });
            });
        });
    });
  </script>
}