@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Repro Issue</h2>
        <p>
            <a id="post" class="btn btn-success">Post random Person</a>
        </p>
        <p>
            <a id="put" class="btn btn-default">Put</a>
            <textarea id="put-content" type="text" class="form-control" rows="10" ></textarea>
        </p>
        <p>
            <a id="patch" class="btn btn-default">Patch</a>
            <textarea id="patch-content" type="text" class="form-control" rows="10"></textarea>
        </p>

        <p>
            <a id="get" class="btn btn-warning">Get People</a>
        </p>
        <p>
            <a id="get-filtered" class="btn btn-danger">Get People Filtered</a>
            <input id="filter" type="text" class="form-control" value="1" />
        </p>
        <p>
            <a id="get-expanded" class="btn btn-primary">Get People Expanded</a>
        </p>
    </div>
    <div class="col-md-8">
        <h2 id="response-header">RESPONSE</h2>
        <pre id="results"></pre>
    </div>
</div>

@section scripts
{
    <script>
        $(() => {
            var baseUrl = "@($"{Request.Url.Scheme}://{Request.Url.Authority}{Url.Content("~")}")";

            var showResults = function (promise) {
                return promise
                    .fail((error) => {
                        $("#response-header").css({ "color": "red" });
                        $("#results").text(JSON.stringify(error, null, 4));
                    })
                    .done((response) => {
                        $("#response-header").css({ "color": "black" });
                        $("#results").text(JSON.stringify(response, null, 4));
                    });
            };

            var get = function (nameFilter) {
                var url = baseUrl + "api/Persons";
                if (nameFilter) {
                    url = url + "?$filter=contains(Name,'" + nameFilter + "')";
                }
                showResults($.ajax({
                    url: url,
                    dataType: 'json'
                }));
            };

            $("#get")
                .click(() => {
                    get();
                });

            $("#get-filtered")
                .click(() => {
                    var input = $("#filter").val();
                    get(input);
                });

            $("#get-expanded")
                .click(() => {
                    showResults($.ajax({
                        url: baseUrl + "api/Persons?$expand=Attributes,Widgets($expand=Attributes)",
                        dataType: 'json'
                    }));
                });

            $("#put")
                .click(() => {
                    return showResults($.ajax(
                                                {
                                                    type: "PUT",
                                                    processData: false,
                                                    url: baseUrl + "api/Persons",
                                                    data: $("#put-content").val(),
                                                    contentType: 'application/json'
                                                }));
                });

            $("#patch")
                .click(() => {
                    return showResults($.ajax(
                                                {
                                                    type: "PATCH",
                                                    processData: false,
                                                    url: baseUrl + "api/Persons",
                                                    data: $("#patch-content").val(),
                                                    contentType: 'application/json'
                                                }));
                });

            $("#post")
                .click(() => {
                    $.ajax({
                        url: 'https://randomuser.me/api/',
                        dataType: 'json'
                    })
                        .done((userResponse) => {
                            var randomUser = userResponse.results[0];
                            var user = {
                                Name: randomUser.name.first + " " + randomUser.name.last,
                                DateOfBirth: new Date(randomUser.dob),
                                Phone: randomUser.phone,// dynamic property
                                Widgets: [
                                    {
                                        Name: "w1",
                                        Value: 1,
                                        CustomProp: "wee"
                                    },
                                    {
                                        Name: "w2",
                                        Value: 2,
                                        CustomProp: "hoo"
                                    },
                                    {
                                        Name: "w3",
                                        Value: 3,
                                        CustomProp: "bob"
                                    }
                                ]
                            };

                            return showResults($.ajax(
                            {
                                type: "POST",
                                processData: false,
                                url: baseUrl + "api/Persons",
                                data: JSON.stringify(user),
                                contentType: 'application/json'
                            }));
                        });
                });
        });
    </script>
}