@{
  ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col-md-4">
    <h2>Repro Issue</h2>
    <p><a id="post" class="btn btn-default">Post random Person</a>
    </p>
    <p><a id="get" class="btn btn-default">Get People</a>
    </p>
    <p><a class="btn btn-default">Get People Expanded</a>
    </p>
  </div>
</div>

@section scripts
{
  <script>
    $(() => {
    	var baseUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))";
	    $("#get")
		    .click(() => {
			    $.ajax({
					    url: baseUrl + "api/Persons",
					    dataType: 'json'
				    })
				    .done((response) => {
					    console.log(response.results);
				    });
		    });

      $("#post")
        .click(() => {
          $.ajax({
            url: 'https://randomuser.me/api/',
            dataType: 'json'
          })
            .done((userResponse) => {
              var randomUser = userResponse.results[0];
              var user = {
                name: randomUser.name.first + " " + randomUser.name.last,
                dateOfBirth: randomUser.dob
              };

              return $.post(baseUrl + "api/Persons", user)
                .done((response) => {
                  console.log(response);
                });
            });
        });
    });
  </script>
}